*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Kreon;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    background-color: #FFF;
    color: #000;
}